@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: #f8f7fa;
  color: #1c1817;
}

a {
  text-decoration: none;
}

/* #region Header */

.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 25px 50px;
}

.nunito-sans-logo {
  font-family: "Nunito", sans-serif;
  font-size: 34px;
  line-height: 120%;
  font-weight: 800;
  font-style: normal;
  color: #1c1817;
  margin: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  #root {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .benefits-container,
  .footer {
    overflow: hidden;
  }
  .header {
    display: flex;
    justify-content: center;
    border-width: 17px 16px 12px 16px;
    padding: 17px 16px 0 16px;
  }
  .header,
  .navigation {
    background-color: #fff !important;
  }
  .navigation {
    position: relative;
    gap: 9px;
    padding: 12px 16px 16px 16px !important;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
  }
  .hamburger-menu {
    padding: 0 15px;
    flex-basis: 48px;
    max-width: 18px;
    &:hover {
      cursor: pointer;
    }
  }
  .catalog-item {
    width: auto !important;
  }
  .catalog-item:hover,
  .catalog-item:active {
    gap: 58px;
  }
  .burger-navigations-buttons > button {
    box-sizing: border-box;
    width: 48px !important;
    height: 48px !important;
    min-width: 48px !important;
    border: 1px solid #eae4ee !important;
  }
  .header-search {
    flex-grow: 1;
    max-height: 48px;
    margin-left: -40px;
    margin-right: -42px;

    > span {
      padding: 0 !important;
      align-items: center;
      > input {
        line-height: normal !important;
        margin: 0 5px 0 22px !important;
      }
      > span {
        width: 48px;
        height: 48px;
        padding: 0 12px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: #00820d;
        border: 1px solid #00820d;
        cursor: pointer;
        > svg path {
          stroke: #fff;
        }
        &:hover {
          background-color: #00680a;
        }
      }
    }
  }
  .navigations-buttons .navigation-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 48px !important;
    min-width: 48px !important;
    min-height: 48px !important;
    max-height: 48px !important;
    padding: 0 !important;
    border: 1px solid #eae4ee !important;
    cursor: pointer;
    > img {
      max-width: 23px;
      max-height: 28px;
    }
  }
  .navigations-buttons .navigation-button:hover > svg path {
    stroke: #fff !important;
  }

  .navigations-buttons .navigation-button:not(.navigation-button:last-child) {
    display: none !important;
  }
  .main-container {
    display: none !important;
  }
  .slider-text {
    margin-top: 10px;
    padding: 14px 16px 12px 16px !important;
    background-color: #f8f7fa;
  }

  .nunito-sans-logo {
    font-size: 34px;
  }

  .search-container {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) and (min-width: 431px) {
  .header {
    padding: 20px 30px;
  }

  .nunito-sans-logo {
    font-size: 34px;
  }
}
@media screen and (max-width: 425px) {
  .product-list {
    width: 90%;
    min-width: 270px !important;
    padding-right: 12px !important;
  }
  .catalog-nav {
    display: block !important;
  }
  .catalog-item {
    gap: 20px !important;
    > div {
      flex-grow: 0 !important;
    }
    i {
      margin-right: 8px;
    }
  }
  .catalog-item:hover > i,
  .catalog-item:active > i {
    margin-right: 0;
  }
  .catalog-list {
    width: auto !important;
    font-size: 1.1rem !important;
  }
  .catalog-items > div {
    flex-grow: initial !important;
  }
}

@media (max-width: 768px) and (min-width: 431px) {
  .header {
    padding: 20px 30px; /* Adjust padding for medium screens */
  }

  .nunito-sans-logo {
    font-size: 34px; /* Adjust logo font size for medium screens */
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .header {
    padding: 22px 40px; /* Adjust padding for larger screens */
  }

  .nunito-sans-logo {
    font-size: 34px; /* Adjust logo font size for larger screens */
  }
}

@media (min-width: 1025px) {
  .header {
    padding: 25px 50px; /* Default padding for larger screens */
  }

  .nunito-sans-logo {
    font-size: 34px; /* Default logo font size for larger screens */
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .header {
    padding: 22px 40px;
  }

  .nunito-sans-logo {
    font-size: 34px;
  }
}

@media (min-width: 1025px) {
  .header {
    padding: 25px 50px;
  }

  .nunito-sans-logo {
    font-size: 34px;
  }
}

/* #endregion */

/* search */
.search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #d3d3d3;
}

.search-label {
  margin-bottom: 5px;
}

:where(.css-dev-only-do-not-override-1qfezbu).ant-input-affix-wrapper,
:where(.css-1qfezbu).ant-input-affix-wrapper {
  border-radius: 13px;
  padding-left: 22px;
  font-family: "Inter";
  font-size: 16px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 18px;
  display: flex;
  align-items: center;
}

.search-input input {
  border: none;
  outline: none;
  flex-grow: 1;
}

.search-input.active {
  border-color: #6a0dad;
}

.search-input.active .search-icon {
  color: #6a0dad;
}

.search-input.disabled {
  background-color: #f0f0f0;
  border-color: #d3d3d3;
}

.search-input.disabled input {
  background-color: #f0f0f0;
  color: #a0a0a0;
}

.search-input.disabled .search-icon {
  color: #a0a0a0;
}

.search-input.error {
  border-color: #ff0000;
}

.search-input.error .search-icon {
  color: #ff0000;
}

.search-icon {
  margin-left: 10px;
  font-size: 20px;
}

/* #region Navigation */
.navigation {
  background-color: #eae4ee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 50px;
}

.dropdown {
  padding: 50px 230px 50px 22px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 0;
  background-color: #6f4c9a;
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  /* Додаємо плавний перехід */
}

i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.dropdown:hover {
  background-color: #5a3e7d;
  /* Замініть на бажаний колір при наведенні */
}

.search-input {
  width: 48%;
  font-family: "Inter", sans-serif;
}

.navigations-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 15px;
}

.search-img {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.navigation-button {
  background-color: #fff !important;
  border-radius: 16px !important;
  padding: 10px !important;
  width: 50px !important;
  height: 56px !important;
}

.navigation-button:hover {
  background-color: #00820d !important;
}

.navigation-button:active {
  background-color: #00680a !important;
}

/* #endregion */

/* #region Main */
.main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 50px;
}

.poster-container {
  width: 100%;
  height: 732px;
  background-image: url("./components/MainPage/img/poster-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 28px;
  margin: 40px 0px 0px 40px;
}

.product-list {
  background-color: #fff;
  padding: 24px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 0;
  min-width: 376px;
  height: auto;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
}

.product-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ant-dropdown-menu {
  border-radius: 0 !important;
}

.ant-dropdown-menu-item {
  border-radius: 0 !important;
}

.catalog-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-decoration: none;
}

.catalog-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
}

.catalog-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  cursor: pointer;
}

.catalog-list {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1c1817;
  font-size: 24px;
  width: 240px;
  line-height: 150%;
}

.catalog-list:hover {
  color: black;
}

.catalog-item div {
  flex-grow: 1;
}

/* #endregion */
.slider-text {
  padding-left: 50px;
  padding-top: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  position: relative;
}

.slider-text::after {
  border-bottom: #00820d;
}

.slider-text h2 {
  font-weight: 500;
  font-size: 42px;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  margin-top: -7px;
}

.button-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 24px;
  font-weight: 400;
  word-spacing: 0.2px;
  font-size: 16px;
  color: #00820d;
  text-decoration: none;
  margin-top: 4px;
}

.button-link-active {
  color: #6f4c9a;
}

.button-hr {
  border: 0.5px solid #00820d;
  width: 100%;
  margin: 0;
}

hr.button-hr-active {
  border: 0.5px solid #6f4c9a;
}

.slider-text-button .button-content {
  width: 100%;
}

@media (max-width: 1024px) {
  /* For screens smaller than 1024px */
  .slider-text {
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 450px) {
  .button-link {
    font-size: 9px;
    margin-top: 0;
    height: auto;
    line-height: 150%;
  }

  .slider-text h2 {
    font-size: 24px;
  }
  .slider-text {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
  }
}
/* #endregion */

/* #region Carousel */

.carousel-wrapper {
  background-color: #eae4ee;
  padding-left: 20px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.brands-container {
  padding-bottom: 24px;
  background-color: #f8f7fa;
}
.brands-container > div > div {
  margin: 0 auto;
}

.carousel-slide {
  margin-right: 20px;
}

.arrow-container {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  align-items: end;
}
.arrow-container > div {
  display: flex;
}
.btn-arrow-prev {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid #00820d;
  border-right: none;
  outline: none;
}
.btn-arrow-next {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 2px solid #00820d;
  border-left: none;
  outline: none;
}
/* when button hovered --- start*/
.arrow-container > div:hover .btn-arrow-prev,
.arrow-container > div:hover .btn-arrow-next {
  cursor: pointer;
}
.arrow-container > div:hover .btn-arrow-prev {
  border: 3px solid #4da856 !important;
  border-right: none !important;
}
.arrow-container > div:hover .btn-arrow-next {
  border: 3px solid #4da856 !important;
  border-left: none !important;
}
/* when button hovered --- end*/

/* when button active --- start*/
.arrow-container > div .btn-arrow-prev:active {
  border: 3px solid #00680a !important;
  border-right: none !important;
  outline: none;
}
.arrow-container > div .btn-arrow-next:active {
  border: 3px solid #00680a !important;
  border-left: none !important;
  outline: none;
}
.arrow-container > div .btn-arrow-prev:active svg path,
.arrow-container > div .btn-arrow-next:active svg path {
  stroke-width: 2.5px;
  stroke: #00680a !important;
}
/* when button active --- end*/

/* when button disabled --- start*/
.arrow-container > div .btn-arrow-prev.disabled {
  border: 2px solid #c3c3c5 !important;
  border-right: none !important;
  cursor: not-allowed;
}
.arrow-container > div .btn-arrow-next.disabled {
  border: 2px solid #c3c3c5 !important;
  border-left: none !important;
  cursor: not-allowed;
}
.arrow-container > div .btn-arrow-prev.disabled:hover {
  border: 3px solid #c3c3c5 !important;
  border-right: none !important;
}
.arrow-container > div .btn-arrow-next.disabled:hover {
  border: 3px solid #c3c3c5 !important;
  border-left: none !important;
}
.arrow-container > div .btn-arrow-prev.disabled svg path,
.arrow-container > div .btn-arrow-next.disabled svg path {
  stroke: #c3c3c5 !important;
}
/* when button disabled --- end*/

.slick-active div:focus-visible {
  outline: none;
}

.wrapper-bottom,
.carousel-brands-container {
  padding-bottom: 24px;
}

/* #region Card */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px 0;
  border-radius: 15px;
  height: 480px;
  border: 2px solid #5a3e7d07;
  transition: all 0.2s;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
}

.wrapper-bottom {
  padding-bottom: 24px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.slick-track {
  display: flex !important;
  justify-content: space-between;
  gap: 40px;
}

.brand-card {
  margin: 10px 0;
  border-radius: 15px;

  transition: all 0.3s;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
}
.brand-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers the area */
}

@media screen and (min-width: 1550px) and (max-width: 2100px) {
  .brands-arrow-container {
    margin-right: calc(1px + (30 - 0) * ((100vw - 1550px) / (2088 - 1540)));
  }
}

@media screen and (max-width: 1590px) and (min-width: 768px) {
  .card {
    height: auto;
  }
  .product-card {
    width: calc(100% - 30px);
    margin: 10px 0;
    height: auto;
  }
  .brand-card {
    margin: 0 auto;
  }
}

.brand-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card-rate {
  color: #6f4c9a;
  font-size: 17px;
  padding-top: 4px;
}
.ant-rate-star:focus-visible {
  outline: none !important;
}
.ant-rate-star > div:focus-visible {
  outline: none !important;
  transform: scale(1) !important;
}
.card-img {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  object-fit: contain;
}

@media screen and (max-width: 1240px) and (min-width: 1024px) {
  .card-img-right {
    left: 70%;
  }
}

.card-img-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 90px;
  z-index: 100;
  right: -45%;
}

.card-img-right-laptop {
  right: -10%;
}

.body-card {
  width: 155px;
  height: 200px;
}

.card-palette,
.card-palette-laptop {
  width: 24px;
  height: 88px;
}

.card-img-laptop {
  margin: 0 auto;
  z-index: 1;
}

.body-card-laptop {
  width: auto;
}

.card-svg_like {
  cursor: pointer;
  width: 36px;
  height: 36px;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0px 0px 0px;
}

.card-footer p {
  font-size: 24px;
  font-weight: 400;
}

.card-footer a {
  display: flex;
}

.card h3 {
  margin: 0;
  padding-top: 34px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  color: #1c1817;
}

.card-buy {
  cursor: pointer;
}

.card p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #1c1817;
}

.ant-card .ant-card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (max-width: 1024px) {
  .carousel-wrapper {
    padding: 24px;
  }

  .carousel-brands-container {
    padding-bottom: 0;
  }

  .ant-card-body {
    padding: 12px;
  }
  .card {
    height: 100%;
    border-radius: 20px;
  }

  .card p {
    font-size: 24px;
  }

  .product-card {
    width: calc(100% - 30px); /* Two cards per row with gap considered */
    margin: 10px 0; /* Maintain vertical margin */
    height: auto;
  }

  .product-card img {
    height: auto;
    object-fit: cover; /* Ensure image covers the area */
  }

  .wrapper-bottom {
    padding-bottom: 0;
  }

  .card-img {
    margin: 0 auto;
    position: relative;
  }

  .card-img-right {
    gap: 60px;
    right: -60%;
  }

  .card-img-right-laptop {
    gap: 90px;
    right: -20%;
  }

  .body-card {
    width: 100px;
    height: 130px;
  }

  .body-card-laptop {
    width: auto;
  }

  .card h3 {
    font-size: 16px;
    padding: 12px 12px 4px 0px;
  }

  .card-rate {
    font-size: 12px;
  }

  .card-svg_like {
    width: 32px;
    height: 32px;
  }

  .card-palette {
    height: 44px;
    bottom: 0;
  }

  .card-palette-laptop {
    width: 12px;
    height: 12px;
    right: -2%;
  }

  .arrow-container {
    display: none;
  }

  .product-card {
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .slick-track {
    gap: 8px;
  }
  .card {
    width: auto;
    height: 287px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-rate {
    font-size: 12px;
    padding-top: 6px;
  }

  :where(.css-dev-only-do-not-override-1qfezbu).ant-rate
    .ant-rate-star:not(:last-child) {
    margin-inline-end: 1px;
  }

  .carousel-wrapper {
    padding: 16px;
  }

  .card-footer {
    margin-top: 16px;
  }

  .card h3 {
    font-size: 16px;
    width: 100%;
    line-height: 150%;
  }

  .card p {
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
  }

  .card-svg_like {
    width: 24px;
    height: 24px;
  }

  .card-buy {
    height: 48px;
    width: 48px;
  }

  .body-card {
    width: auto;
    height: 100px;
  }

  .body-card-laptop {
    width: 130px;
    height: 100px;
  }

  .card-img-right {
    gap: 45px;
    right: -60%;
  }

  .card-img-right-laptop {
    gap: 80px;
    right: -20%;
  }

  .product-card {
    width: 100px;
    height: 100px;
  }
}

/* #endregion */

/* #region benefits */

.benefits-container {
  padding: 48px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.benefit-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.benefit-card h3 {
  font-size: 24px;
  font-weight: normal;
}
/* #endregion */

/* #region footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 46px 50px 73px;
  color: white;
  background-color: #1c1817;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.main-information {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin: 0;
}

.footer-list a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.footer-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 102px;
}

.clients-section,
.categories-section,
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 16px;
}

.clients-section h3,
.categories-section h3,
.contact-section h3 {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 8px;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
}

.contact-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 8px;
}

.social-icon svg {
  width: 32px;
  height: 32px;
}

/* #endregion */
.footer-link {
  width: 126px;
  height: 18px;
  font-size: 12px;
  color: #fff;
  margin-left: -170px;
  margin-top: 280px;
}
